html
{

}
body {
  font-family: Lucida Handwriting, serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Bild jederzeit änderbar */
body {
  background-image: url("img/thumb-1920-717109.jpg");
  background-repeat:no-repeat;
  min-height:100%;
}

header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  front-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 17%;
  height: 110px;
  background: transparent;
  padding: 30px;
  text-decoration: none;
}

nav ul {
  list-style-type: disc;
  padding: 1px;
  color: white;
  text-decoration: none;
}

article {
  float: left;
  padding: 10px;
  width: 70%;
  background-color: rgba(0,0,0,0.6);
  height: 200px;
  color: white;
  position: center;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 5px;
  text-align: center;
  position: absolute;
  bottom:0;
  width:100%;

}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
